main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: ghostwhite;
  border: 3px solid #d3d3d3;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em #3d3d3d,
              inset 0.25em 0.25em 0.5em aliceblue;
  padding: 1em;
  text-align: center;
}

span {
  display: block;
  font-size: 3rem;
  margin: 0.15em;
}

button {
  all: unset;
  width: 3em;
  height: 1.25em;
  margin: 0 1em;
  padding: 0.25em 0.5em;
  background: ghostwhite;
  border: 1px solid #d3d3d3;
  border-radius: 0.25em;
  box-shadow: 0.15em 0.15em 0.25em #3d3d3d,
              inset 0.05em 0.05em 0.15em aliceblue;
  cursor: pointer;
}

button:hover {
  font-size: 1.05em;
}